$highlight-color: #F90;
$background:rgb(28, 45, 98);  //标题颜色  主标题颜色
$mainbag:#f1f1f1;  //整个系统界面底色为浅灰色
$workspacebag:#fff;  //左侧区和工作栏颜色背景
$fontcolor:#000;  //字体颜色
$borderColor: rgb(22, 38, 89); //大边框、导航条默认颜色
$ehartBg: #162557;
$echartBorder: #2275a1;
